# Dependencias
node_modules/

# Compilado
dist/

# Entorno
.env
.env.local
.env.*.local

# Cobertura de tests
coverage/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# TypeORM CLI cache
.typeorm-cache/
